/* Navbar */
.navbar.sticky {
  padding: 10px 0;
  background: #0d6efd;
}
.navbar-brand {
  font-family: Viga;
  font-size: 32px;
}
.nav-link {
  margin-right: 30px;
}

/* JUMBOTRON  */
.jumbotron {
  background-image: url(img/bg-jumbotron.jpg);
  background-size: cover;
  height: 500px;
  text-align: center;
}

.jumbotron .display-4 {
  color: white;
  padding-top: 150px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}
.jumbotron .display-4 span {
  font-weight: 500;
}

.img-profil {
  height: 300px;
  width: 300px;
}

#prodact {
  background-color: #b3b3b3;
}

.img-size {
  height: 250px;
}

section {
  padding-top: 6rem;
}

/* VERSI DEKSTOP */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .nav-link {
    text-transform: uppercase;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid rgb(44, 78, 228);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
    margin-top: -75px;
    height: 640px;
  }
  .jumbotron .display-4 {
    padding-top: 200px;
  }
}
